@model IEnumerable<ToDoApp303.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tbdlRecords">
    <thead>
        <tr>
            <th class="text-nowrap all" >
               E-Posta
            </th>
            <th class="text-nowrap">
                E-posta onay
            </th>

            <th class="text-nowrap ">
                Telefon
            </th>
            <th class="text-nowrap ">
                Telefon-onay
            </th>
            <th class="text-nowrap ">
               İki aşamalı doğrulama
            </th>
            <th class="text-nowrap ">
                kilitleme bitiş
            </th>
            <th class="text-nowrap ">
               Kilitleme Etkin
            </th>
            <th class="text-nowrap ">
               Başarısız Giriş
            </th>
            <th class="text-nowrap ">
              Kullanıcı Adı
            </th>
            <th data-orderable="false" class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit btn btn-primary btn-xs" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = " glyphicon glyphicon-info-sign btn btn-success btn-xs" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
