@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("Index","Customers")">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.CustomerCount">@ViewBag.CustomerCount</span>
                </div>
                <div class="desc"> Müşteri Sayısı </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("Index","TodoItems")">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.StatusNewCount">@ViewBag.StatusNewCount</span>M$
                </div>
                <div class="desc"> Yeni İşler </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="@Url.Action("Index","TodoItems")">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.StatusWaitingCount">@ViewBag.StatusWaitingCount</span>
                </div>
                <div class="desc"> Bekleyen İşler </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="@Url.Action("Index","TodoItems")">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                 
                    <span data-counter="counterup" data-value="@ViewBag.StatusCompletedCount">@ViewBag.StatusCompletedCount</span>%
                </div>
                <div class="desc"> Tamamlanan İşler </div>
            </div>
        </a>
    </div>
</div>
<div class="clearfix"></div>

@if (Session["StatusMessage"] != null)
{
    @Session["StatusMessage"].ToString();
}